<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <div class="post">
    <h2><%= post.title %></h2>
    <p>Автор: <%= post.author %></p>
    <p>ID: <%= post.id %></p>
    <div class="post-content">
      <%= post.text %>
    </div>
    <p>Дата: <%= post.date %></p>
  </div>
</body>
</html>
