<!DOCTYPE html>
<html lang="ru">
  <%- include('./partials/head.ejs') %>
<body>
  <div class="title"><%= title %></div>
  <%- include('./partials/nav.ejs') %>
  <div class="post-list">
    <% if (posts && posts.length > 0) { %>
      <% posts.forEach(post => { %>
        <div class="post">
          <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
          <p>Автор: <%= post.author %></p>
          <p><%= post.text %></p>
          <p>Дата: <%= post.date %></p>
        </div>
      <% }); %>
    <% } else { %>
      <p>Нет доступных постов.</p>
    <% } %>
  </div>
</body>
</html>
